# .gitattributes
*.css text
*.js text
*.scss text
*.html text
*.md text
*.yml text
*.json text
*.xml text
*.svg text
*.jpg binary
*.png binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.otf binary
*.zip binary
*.bin binary
